<div id="results-container">
  <center>
    <div class="pagination"></div>
  </center>
  <div>

      <table class="table table-striped table-hover table-responsive">
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Options</th>
      </tr>
    <% @results.each do |track| %>
      <tr class="track-result">
        <td><%= track["date"] %></td>
        <td><%= track["title"] %></td>
        <td><%= track["artist"] %></td>
        <td><%= track["album"] %></td>

        <td>
        <%= form_tag tracks_path do  %>
          <%= hidden_field_tag(:title,track["title"]) %>
          <%= hidden_field_tag(:date,track["date"]) %>
          <%= hidden_field_tag(:artist, track["artist"]) %>
          <%= hidden_field_tag(:album, track["album"]) %>
          <%= hidden_field_tag(:length,track["length"]) %>
          <%= hidden_field_tag(:pop,track["pop"]) %>
          <%= hidden_field_tag(:full,track["full"]) %>
          <%= image_submit_tag("add.png", class: "add-btn",alt:"btn") %>
        <% end %>
        </td>
        </tr>
    <% end %>
      </table>
  </div>
</div>


<script type="text/javascript">
  $(".pagination").customPaginate({
      itemsToPaginate : ".track-result"
    });
</script>