<div id="fullpage">

    <!-- this is a first section -->
    <div class="section logo-main-section" data-anchor="slide1"><br>
<!--       <div id="short-cut-btn">
        <a href="#slide3" class="btn btn-lg" data-menuanchor="slide3"><span id="sc-btn-tag">Sign Up Now</span></a>
      </div> -->
      <img src="/assets/pllogo2.png" class="img-responsive" alt="big logo" id="logo-img-main">


    </div>

    <div class="section how-main-section" data-anchor="slide2">
      <img src="/assets/howto.png" class="img-responsive" alt="howto page" id="howto-img-main">
    </div>

    <div class="section signup-main-section" data-anchor="sign-up-slide" data-anchor="slide3">

      <div id="cust">
        <div class="placeholder-box"></div>
        <center>
          <div id="phrase">
            <p>
              Join now and start creating your own playlist
            </p>
          </div>
        </center>
          <br>
          <div id="sign-up-box">
            <div id="sign-up-form">
              <br><br>
              <%= form_tag(user_registration_path,{:class => ''}) do %>
                <%= label_tag 'Email:' %>
                <%= email_field_tag("user[email]",nil,{:class => "span3", :placeholder => 'e.g. test@gmail.com'}) %>
                <%= label_tag 'Password:' %>
                <%= password_field_tag("user[password]",nil,{:class => "span3", :placeholder => '8 digits or more'})%>
                <%= label_tag 'Password Confirm:' %>
                <%= password_field_tag("user[password_confirmation]",nil,{:class => "span3", :placeholder => ''})%><br><br>
                <%= submit_tag("Sign Up",{:class => "btn btn-default btn-lg", :id => "signup-btn"}) %>
              <% end %>
            </div>
        </div>

      </div>
    </div>
</div>
