<div class="edit-box">
  <!-- edit title -->
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <h1 class="page-header">Playlist Title</h1>
    </div>
  </div>
  <%= form_for :playlist, url: {action: 'update'} do |f| %>
  <center>
    <div>
      <!-- edited title -->
      <%= f.text_field :title, { :value => @playlist.title } %><br><br>
    </div>
  </center>
  <!-- edit description -->
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
        <h1 class="page-header">Playlist Description</h1>
    </div>
  </div>
  <center>
    <div class="desc-edit">
      <!-- edited description -->
      <%= f.text_area :description, { :value => @playlist.description } %>
    </div>
  </center>
    <%= f.hidden_field(:id,:value => @playlist.id) %>
    <% i = 0 %>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
        <h1 class="page-header">Edit Tracks (Drag-Drop / Options)</h1>
    </div>
  </div>
    <table class="table table-striped table-hover table-responsive table-cust grid" id="sort">
      <thead>
        <tr>
          <th class="index">Track No.</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @ordered_tracks.each do |track| %>
          <tr>
            <td class="index"><%= track.place %></td>
            <%= f.hidden_field("new_ord#{i}",{:value => track.place}) %>
            <td><%= track.title %></td>
            <td><%= track.artist %></td>
            <td>
              <%= link_to track.full do %>
                <%= image_tag("delete.png", :class => "delete-icon", :alt => "trashcan") %>
              <% end %>
            </td>

          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
   </table>
    <%= f.submit 'Edit Playlist' %>
  <% end %>




</div>
<!-- script for drag & drop -->
<script type="text/javascript">
  var fixHelperModified = function(e, tr) {
      var $originals = tr.children();
      var $helper = tr.clone();
      $helper.children().each(function(index) {
          $(this).width($originals.eq(index).width())
      });
      return $helper;
  },
      updateIndex = function(e, ui) {
          $('td.index', ui.item.parent()).each(function (i) {
              $(this).html(i + 1);
          });
      };

  $("#sort tbody").sortable({
      helper: fixHelperModified,
      stop: updateIndex
  }).disableSelection();
</script>