<div class="playlists-box">
  <% if @track_id %>
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6">
        <h1 class="page-header">Choose a playlist</h1>
      </div>
    </div>
    <table class="table table-striped table-hover table-responsive">
      <tr>
        <th>Title</th>
        <th>Coolness</th>
        <th>Options</th>
      </tr>
      <% @user_playlists.each do |playlist| %>
        <tr>
          <td><%= playlist.title %></td>
          <td><%= playlist.coolness %></td>
          <td>
            <%= form_for :playlist, url: {action: 'add'} do |f| %>
              <%= f.hidden_field(:track_id,:value => @track_id) %>
              <%= f.hidden_field(:playlist_id,:value => playlist.id) %>
              <%= image_submit_tag("add.png", class: "add-btn",alt:"btn") %>
            <% end %>
          </td>
        </tr>
      <% end %>

    </table>
  <% else %>
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <h1 class="page-header">User Playlists</h1>
    </div>
  </div>

  <center>
  <div class="row">
    <% @user_playlists.each do |playlist| %>
      <%= link_to(playlist_path(playlist.id)) do %>
        <div class="thumb">
          <span class="pl-title"><%= playlist.title %></span>
        </div>
      <% end %>
    <% end %>
  </div>
  </center>

  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6">
      <h1 class="page-header">All Playlists</h1>
    </div>
  </div>
  <center>
  <div class="row">
    <% @all_playlists.each do |playlist| %>
      <div class="thumb">
        <span class="pl-title"><%= playlist.title %></span>
      </div>
    <% end %>
  </div>
  </center>
  <% end %>
</div>
