<div class="show-box">
  <br><br><br>
  <div class="show-heading">
    <p class="playlist-title"><%= @playlist.title %></p>
    <p class="playlist-dsc"><%= @playlist.description %></p>
  </div><br><br>
  <center>
  <canvas id="myChart" width="300px" height="300px"></canvas><br>
  <h3 id="chart-smry">This playlist received <%= @playlist.coolness %> cool pts</h3>
  </center>
  <%= link_to("edit",edit_playlist_path(@playlist.id)) %>
  <% @ordered_tracks.each do |track| %>
    <p><%= track.place %></p>
    <p><%= track.artist %></p>
    <p><%= track.title %></p>
    <p><%= track.album %></p>
    <p><%= track.full %></p>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    var ctx = document.getElementById("myChart").getContext("2d");
    var cool = $('h3').html().match(/\d+/)[0];
    var data = [
        {
          value: 40,
          color:"#F7464A",
          highlight: "#FF5A5E",
          label: "Cool"
        },
        {
          value: 60,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Lame"
        }
      ]
    data[0].value = parseInt(cool) ;
    var lame = 100 - parseInt(cool);
    data[1].value = lame ;

    var myPieChart = new Chart(ctx).Pie(data);

  });

</script>