<div>
  <br><br><br>
  <div class="show-heading">
    <p class="playlist-title"><%= @playlist.title %></p>
    <p class="playlist-dsc"><%= @playlist.description %></p>
  </div>

  <h3><%= @playlist.coolness %></h3>
  <%= link_to("edit",edit_playlist_path(@playlist.id)) %>
  <% @ordered_tracks.each do |track| %>
    <p><%= track.place %></p>
    <p><%= track.artist %></p>
    <p><%= track.title %></p>
    <p><%= track.album %></p>
    <p><%= track.full %></p>
  <% end %>
</div>