<h1>edit page</h1>
<%= form_for :playlist, url: {action: 'update'} do |f| %>
  <span>Playlist Title:</span>
  <%= f.text_field :title, { :value => @playlist.title } %><br><br>
  <!-- hidden field for playlist id -->
  <%= f.hidden_field(:id,:value => @playlist.id) %>
  <% i = 0 %>
  <% @ordered_tracks.each do |track| %>
    <div>
      <span><%= track.title %> - track#<%= f.text_field "place#{i+1}", {:value => track.place} %></span>
      <% i += 1 %>
    </div>
  <% end %>
  <%= f.submit 'Edit Playlist' %>
<% end %>
