<h1>playlists#index</h1>
<h2>user playlists</h2>
<% @user_playlists.each do |playlist| %>
  <div>
    <p><%= playlist.title %></p>
    <% if @track_id %>
      <!-- hidden form disguised as button -->
      <%= form_for :playlist, url: {action: 'add'} do |f| %>
        <%= f.hidden_field(:track_id,:value => @track_id) %>
        <%= f.hidden_field(:playlist_id,:value => playlist.id) %>
        <%= f.submit "add track to playlist" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<h2>all playlists</h2>
<% @all_playlists.each do |playlist| %>
  <div>
    <p><%= playlist.title %></p>
  </div>
<% end %>
