<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Merriweather:400,300|Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
  <title>PLAYLTICS</title>
  <%= stylesheet_link_tag "jquery-ui", :media => 'all' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="full">
<!-- Top Nav Bar -->
<div class="navbar-cust navbar navbar-inverse">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="/"><img src="/assets/pllogo2.png" alt="small logo" id="nav-logo"></a>
    </div>
    <div class="navbar-header pull-right">
      <%= link_to (image_tag("/assets/sign-out2.png")), destroy_user_session_path, :method => :delete, id: "sign-out-btn", class: " navbar-btn" %>
    </div>
</div>

<!-- Lower Nav Bar -->

<nav class="navbar navbar-lower">
    <div class="container">
      <div class="nav-collapse collase">
        <ul class="nav navbar-nav">
          <div id="test1"><li><%= link_to(image_tag("/assets/searchicon.png"),search_path,:remote => true) %></li></div>

          <div id="test2"><li><%= link_to(image_tag("/assets/playlisticon.png"),playlists_path,:remote => true) %></li></div>
          <div id="test3"><li><%= link_to(image_tag("/assets/chaticon.png"),root_path,:remote => true) %></li></div>
        </ul>
        </ul>
      </div>
    </div>
</nav>


  <%= yield %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "spotify-web-api" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery-ui.min" %>
  <%= javascript_include_tag "jquery.easings.min" %>
  <!-- bootstraps below -->
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "paginate" %>
  <%= javascript_include_tag "Chart" %>

  <script type="text/javascript">
    $(document).ready(function() {

      $('.navbar').css({'margin-bottom':'0px'});
      $('#sign-out-btn img').on('mouseover',function(){
        $('#sign-out-btn img').attr('src','/assets/sign-out.png');
      });
      $('#sign-out-btn img').on('mouseout',function(){
        $('#sign-out-btn img').attr('src','/assets/sign-out2.png');
      });
      $('#test1 li img').on('mouseover',function(){
        $('#test1 li img').attr('src','/assets/searchicon2.png');
      });
      $('#test1 li img').on('mouseout',function(){
        $('#test1 li img').attr('src','/assets/searchicon.png');
      });
      $('#test2 li img').on('mouseover',function(){
        $('#test2 li img').attr('src','/assets/playlisticon2.png');
      });
      $('#test2 li img').on('mouseout',function(){
        $('#test2 li img').attr('src','/assets/playlisticon.png');
      });
    });
  </script>
</body>
</html>
